<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
             
 <style>
  body {
          background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=2000');
        }
    </style>

    

</head>

<body>

<h1>BOOK YOUR CABS </h1>
        <a href="web page.html"title= "web page">Go back to home page</a>
        

      
        
            <table cellspacing="6" cellpadding="4">
                <tr>
                <td>
                    <label  for="choose_your_cab">CHOOSE YOUR CAB</label>
                </td><td>
                    <select id="choose_your_cab" name="choose_your_cab" multiple>
                    <option value="1">AMAZE</option>
                    <option value="2">CITY</option>
                    <option value="3">DZIRE</option>
                    <option value="3">VIRTUS</option>
                    <option value="3">CIAZ</option>
                    </select>
                </td>
                </tr>
                <tr>
                    <td>

                    <label for="date_of_booking"> BOOKING DATE:</label>
                </td>
                
                <td>
                    <input type="date" id="date_of_booking" name="date_of_booking" placeholder="ENTER  booking date">

            </td>
            </tr>
       <tr>
            <td>
                <label for="date_of_travel">DATE OF TRAVEL:</label>
            </td>
            <td>
                <input type="date" id="date_of_travel" name="date_of_travel" placeholder="ENTER Date of travel">
            </td>
            </tr>
            
            
        
            <tr>
                <td>
                    <label for ="number_of_passenger">PICK UP DATE:</label>
                </td>
                <td>
                    <input type="text" id="number_of_passenger" >
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pick_up_time">PICK UP TIME:</label>

                </td>
                <td>
                    <input type="Time" id="appt" placeholder="ENTER PICK UP TIME">
                </td>
                </tr>

<tr>
                <td>
                    <label for ="pick_up_location">PICK UP LOCATION:</label>
                </td>
                <td>
                    <input type="text" id="pick_up_location" >
                </td>
            </tr>
            <tr>
                <td>
                    <label for ="drop_off_location">DROP OFF LOCATION:</label>
                </td>
                <td>
                    <input type="text" id="drop_off_location" >
                </td>
            </tr>




                <tr>
                    <td>
                        <input type="checkbox" <p>I agree the <a href="terms.html" >terms and condition</a> of website </p>
                    </td>
                </tr>
                <tr>

                    <td>
        
                        <a href="payment.html"><input type="submit"  id="submit" name="submit" value="Submit"/></a>

                        
                    </td>
                    
        
                    <td>
        
                        <input type="reset"  id="reset" name="reset" value="Reset"/>
        
                    </td>
        
                </tr>
            </table>


            



  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>