<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
             
 
<style>
   
   body {
      background-image: url('https://www.ford.co.uk/content/dam/guxeu/rhd/central/cvs/2018-transit-connect/launch/gallery/bodystyles/ford-Transit_Connect_Double_Cab_in_Van-gbr-gbrchc15yytbs-akvs-e3acmaa(a)(a)pn4ft_21_0-9x8-480x426-b4-b&p.jpg.renditions.original.png');
      background-repeat: no-repeat;
      background-size:cover;
    }
    
</style>
</head>

<body>


<h1 style="background-color:white; font-family: fantasy;">WELCOME TO GOZO CABS</h1> 

    
    <style>
          body {
      background-image: url('https://previews.123rf.com/images/shaihalud/shaihalud1606/shaihalud160600013/59582860-picture-of-a-taxi-cab-mobile-phone-with-map-and-big-city-on-background-taxi-service-concept-flat-sty.jpg');
    }
    

    
    </style>



    
    


    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
              <div class="container">
                <a class="navbar-brand" href="web page.html"><b>Home Page</b></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/login" aria-current="page"><b>Login</b> <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register"><b>Register</b></a>
                        </li>
                        
                        
                    </ul>
                    <form class="d-flex my-2 my-lg-0">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
          </div>
        </nav>
    </header>
    

</body>









  

  